body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 28px;
  margin: 15px 0;
}
p {
  color: #6c6c6c;
}
header {
  background-color: #2d25a0;
}
menu {
  display: flex;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar li {
  list-style: none;
  margin-right: 20px;
  pad: 5px 10px;
}
.navbar li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
}

/* header title with banner */
.header-title {
  display: flex;
  align-items: center;
  margin: 100px;
  margin-top: 0;
  padding: 0;
}
.title {
  color: aliceblue;
  /* width: 50%; */
  /* margin-left: 80px; */

  padding: 0 20px;
  line-height: 1;
}
.title-image img {
  width: 556px;
  height: 438px;
}

button {
  width: 168px;
  height: 44px;
  background-color: rgb(250, 53, 53);
  font-size: 20px;
  border-radius: 12px;
  margin-bottom: 170px;
}
button:hover {
  width: 172px;
  height: 46px;

  border: 3px solid #fff;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}

.buttom a,
i {
  color: aliceblue;
  font-size: 18px;
  text-decoration: none;
  padding-right: 12px;
}

/*  *********************
<!-- players sections --> 
**************************  */
main {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 224, 224);
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player img {
  width: 300px;
  height: 256px;
  border-radius: 10px;
}
.player {
  width: 300px;
  height: 475px;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
}
/* Highlights section */

.Highlights {
  display: flex;
  justify-content: center;
  background-color: rgb(224, 224, 224);
  padding-top: 100px;
}
.Highlights-title {
  width: 100%;
  padding-right: 20px;
  margin-left: 150px;
  padding-right: 58px;
}

.Highlights img {
  width: 567px;
  height: 427px;
  margin-right: 150px;
}
